/* GLOBAL */
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F4C49E;
  color: #2C1200;
  text-align: center;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C9633A;
  padding: 10px 40px;
}

.navbar .logo img {
  height: 60px;
  width: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 30px;
}

.navbar a {
  text-decoration: none;
  color: #FCE5CF;
}

.navbar h2 {
  font-family: 'Nyght Serif', serif;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

/* ABOUT PAGE STRUCTURE */
.about-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px 80px;
}

/* HERO IMAGE */
.hero-image {
  width: 100%;
  height: 350px;
  background-color: #d9b596;
  border-radius: 5px;
  margin-top: 15px;
  background-image: url("backgroundphoto213.jpg");
  background-size: cover;
  background-position: center;
}

/* HERO TEXT */
.hero-text h1 {
  font-family: 'Nyght Serif', serif;
  font-size: 26px;
  color: #fff;
  background-color: #C9633A;
  padding: 10px;
  border-radius: 6px;
  margin-top: -30px;
}

.hero-text p {
  color: #000000;
  font-size: 15px;
  margin-top: 5px;
}

/* TITLES */
.section-title {
  font-family: 'Nyght Serif', serif;
  font-size: 24px;
  margin-top: 40px;
}

/* BODY TEXT */
.section-text {
  font-size: 15px;
  line-height: 1.7;
  margin-top: 10px;
}

/* OWNER SECTION */
.owner-block {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.owner-image {
  width: 160px;
  height: 200px;
  background-color: #e2c5ab;
  border-radius: 6px;
  background-image: url("owner.png");
  background-size: cover;
  background-position: center;
}

.owner-info {
  text-align: left;
}

.owner-name {
  font-family: 'Nyght Serif', serif;
  font-size: 28px;
  margin: 0;
}

.owner-title {
  font-size: 14px;
  margin-top: 5px;
}

.owner-logo {
  width: 70px;
  height: 70px;
  background-color: #e9d1b8;
  border-radius: 6px;
  margin-top: 15px;
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* RESTAURANT GALLERY */
.restaurant-gallery {
  margin-top: 20px;
}

.rest-img {
  background-color: #e1c7b0;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* QUOTE */
.quote {
  font-family: 'Nyght Serif', serif;
  font-size: 16px;
  margin: 35px 0;
  padding: 0 10px;
}

/* BOTTOM LOGO */
.about-bottom-logo {
  width: 200px;
  height: 200px;
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px auto 0;
}
.restaurant-collage {
  margin: 30px auto;
  text-align: center;
}

.restaurant-collage img {
  width: 100%;
  max-width: 650px;
  border-radius: 12px;
  border: 5px solid #2C1200;
  display: block;
  margin: auto;
}

